99-Shared/11-PcSOnderhoud/Contract/minorcase2pcsonderhoudv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:minor:case2:pcsonderhoud:v1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:minor:case2:pcsonderhoud:v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:minor:case2:pcsonderhoud:v1/Imports">
      <xsd:import namespace="urn:minor:case2:pcsonderhoud:v1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:minor-case2-bsvoertuigenklantbeheer:v1:schema" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPcSOnderhoudService_GetAllKlanten_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKlanten" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_GetAllKlanten_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKlantenResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_GetVoertuigBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoertuigBy" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_GetVoertuigBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoertuigByResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_VoegOnderhoudsopdrachtToeMetVoertuigEnKlant_InputMessage">
    <wsdl:part name="parameters" element="tns:VoegOnderhoudsopdrachtToeMetVoertuigEnKlant" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_VoegOnderhoudsopdrachtToeMetVoertuigEnKlant_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoegOnderhoudsopdrachtToeMetVoertuigEnKlantResponse" />
  </wsdl:message>
  <wsdl:portType name="IPcSOnderhoudService">
    <wsdl:operation name="GetAllKlanten">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetAllKlanten" message="tns:IPcSOnderhoudService_GetAllKlanten_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetAllKlantenResponse" message="tns:IPcSOnderhoudService_GetAllKlanten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVoertuigBy">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetVoertuigBy" message="tns:IPcSOnderhoudService_GetVoertuigBy_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetVoertuigByResponse" message="tns:IPcSOnderhoudService_GetVoertuigBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoegOnderhoudsopdrachtToeMetVoertuigEnKlant">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudsopdrachtToeMetVoertuigEnKlant" message="tns:IPcSOnderhoudService_VoegOnderhoudsopdrachtToeMetVoertuigEnKlant_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudsopdrachtToeMetVoertuigEnKlantResponse" message="tns:IPcSOnderhoudService_VoegOnderhoudsopdrachtToeMetVoertuigEnKlant_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IPcSOnderhoudService" type="tns:IPcSOnderhoudService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllKlanten">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetAllKlanten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoertuigBy">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetVoertuigBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegOnderhoudsopdrachtToeMetVoertuigEnKlant">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudsopdrachtToeMetVoertuigEnKlant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>