99-Shared/11-PcSOnderhoud/Contract/minorcase2pcsonderhoudv1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:minor:case2:pcsonderhoud:v1" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" targetNamespace="urn:minor:case2:pcsonderhoud:v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:minor:case2:pcsonderhoud:v1/Imports">
      <xsd:import namespace="urn:minor:case2:pcsonderhoud:v1" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="urn:minor-case2-bsvoertuigenklantbeheer:v1:schema" />
      <xsd:import namespace="urn:minor-case2-isrijksdienstwegverkeer:v1:schema" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPcSOnderhoudService_GetAllKlanten_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKlanten" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_GetAllKlanten_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllKlantenResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_GetVoertuigBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVoertuigBy" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_GetVoertuigBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVoertuigByResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_VoegVoertuigMetKlantToe_InputMessage">
    <wsdl:part name="parameters" element="tns:VoegVoertuigMetKlantToe" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_VoegVoertuigMetKlantToe_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoegVoertuigMetKlantToeResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_VoegOnderhoudsopdrachtToe_InputMessage">
    <wsdl:part name="parameters" element="tns:VoegOnderhoudsopdrachtToe" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_VoegOnderhoudsopdrachtToe_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoegOnderhoudsopdrachtToeResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_MeldVoertuigKlaar_InputMessage">
    <wsdl:part name="parameters" element="tns:MeldVoertuigKlaar" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_MeldVoertuigKlaar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MeldVoertuigKlaarResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_GetHuidigeOnderhoudsopdrachtBy_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHuidigeOnderhoudsopdrachtBy" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_GetHuidigeOnderhoudsopdrachtBy_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHuidigeOnderhoudsopdrachtByResponse" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_VoegOnderhoudswerkzaamhedenToe_InputMessage">
    <wsdl:part name="parameters" element="tns:VoegOnderhoudswerkzaamhedenToe" />
  </wsdl:message>
  <wsdl:message name="IPcSOnderhoudService_VoegOnderhoudswerkzaamhedenToe_OutputMessage">
    <wsdl:part name="parameters" element="tns:VoegOnderhoudswerkzaamhedenToeResponse" />
  </wsdl:message>
  <wsdl:portType name="IPcSOnderhoudService">
    <wsdl:operation name="GetAllKlanten">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetAllKlanten" message="tns:IPcSOnderhoudService_GetAllKlanten_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetAllKlantenResponse" message="tns:IPcSOnderhoudService_GetAllKlanten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVoertuigBy">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetVoertuigBy" message="tns:IPcSOnderhoudService_GetVoertuigBy_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetVoertuigByResponse" message="tns:IPcSOnderhoudService_GetVoertuigBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoegVoertuigMetKlantToe">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegVoertuigMetKlantToe" message="tns:IPcSOnderhoudService_VoegVoertuigMetKlantToe_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegVoertuigMetKlantToeResponse" message="tns:IPcSOnderhoudService_VoegVoertuigMetKlantToe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoegOnderhoudsopdrachtToe">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudsopdrachtToe" message="tns:IPcSOnderhoudService_VoegOnderhoudsopdrachtToe_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudsopdrachtToeResponse" message="tns:IPcSOnderhoudService_VoegOnderhoudsopdrachtToe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MeldVoertuigKlaar">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/MeldVoertuigKlaar" message="tns:IPcSOnderhoudService_MeldVoertuigKlaar_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/MeldVoertuigKlaarResponse" message="tns:IPcSOnderhoudService_MeldVoertuigKlaar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHuidigeOnderhoudsopdrachtBy">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetHuidigeOnderhoudsopdrachtBy" message="tns:IPcSOnderhoudService_GetHuidigeOnderhoudsopdrachtBy_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetHuidigeOnderhoudsopdrachtByResponse" message="tns:IPcSOnderhoudService_GetHuidigeOnderhoudsopdrachtBy_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VoegOnderhoudswerkzaamhedenToe">
      <wsdl:input wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudswerkzaamhedenToe" message="tns:IPcSOnderhoudService_VoegOnderhoudswerkzaamhedenToe_InputMessage" />
      <wsdl:output wsaw:Action="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudswerkzaamhedenToeResponse" message="tns:IPcSOnderhoudService_VoegOnderhoudswerkzaamhedenToe_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DefaultBinding_IPcSOnderhoudService" type="tns:IPcSOnderhoudService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllKlanten">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetAllKlanten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVoertuigBy">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetVoertuigBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegVoertuigMetKlantToe">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegVoertuigMetKlantToe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegOnderhoudsopdrachtToe">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudsopdrachtToe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MeldVoertuigKlaar">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/MeldVoertuigKlaar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHuidigeOnderhoudsopdrachtBy">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/GetHuidigeOnderhoudsopdrachtBy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VoegOnderhoudswerkzaamhedenToe">
      <soap:operation soapAction="urn:minor:case2:pcsonderhoud:v1/IPcSOnderhoudService/VoegOnderhoudswerkzaamhedenToe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>