99-Shared/31-ISRijksdienstWegVerkeer/Contract/minor-case2-allv1schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="urn:minor-case2-all:v1:schema" elementFormDefault="qualified" targetNamespace="urn:minor-case2-all:v1:schema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfFunctionalErrorDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FunctionalErrorDetail" nillable="true" type="tns:FunctionalErrorDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFunctionalErrorDetail" nillable="true" type="tns:ArrayOfFunctionalErrorDetail" />
  <xs:complexType name="FunctionalErrorDetail">
    <xs:sequence>
      <xs:element name="ErrorCode" type="xs:int" />
      <xs:element name="Message" nillable="true" type="xs:string">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FunctionalErrorDetail" nillable="true" type="tns:FunctionalErrorDetail" />
</xs:schema>